astroid==2.9.3
certifi==2023.7.22
charset-normalizer==2.0.11
click==8.0.3
Flask==2.2.5
Flask-PyMongo==2.3.0
idna==3.7
isort==5.10.1
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.1.4
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
mccabe==0.6.1
parso==0.8.3
pika==1.2.0
platformdirs==2.5.0
pylint==2.12.2
pymongo==4.6.3
requests==2.31.0
toml==0.10.2
urllib3==1.26.18
Werkzeug==2.3.8
wrapt==1.13.3
